*.pyproj
*.sln
*.suo
*.testlog
*.manifest
*.svg
*.pyc
11 - Spike - Emergent Group Behaviour/Emergent Group Behaviour/.vs/Emergent Group Behaviour/v16/Browse.VC.db
11 - Spike - Emergent Group Behaviour/Emergent Group Behaviour/.vs/Emergent Group Behaviour/v16/ipch/AutoPCH/a345c6390869667b/TASK8.6.ipch
