04 - Spike - Goal Oriented Behaviour/gob_simple/gob_simple.pyproj
04 - Spike - Goal Oriented Behaviour/gob_simple/gob_simple.sln
04 - Spike - Goal Oriented Behaviour/gob_simple/.vs/gob_simple/v16/.suo
04 - Spike - Goal Oriented Behaviour/gob_simple/.vs/gob_simple/v16/TestStore/0/000.testlog
04 - Spike - Goal Oriented Behaviour/gob_simple/.vs/gob_simple/v16/TestStore/0/testlog.manifest
04 - Spike - Goal Oriented Behaviour/gob_complex/gob_simple.pyproj
04 - Spike - Goal Oriented Behaviour/gob_complex/gob_simple.sln
04 - Spike - Goal Oriented Behaviour/gob_complex/System.txt
04 - Spike - Goal Oriented Behaviour/gob_complex/.vs/gob_simple/v16/.suo
04 - Spike - Goal Oriented Behaviour/gob_complex/.vs/gob_simple/v16/TestStore/0/000.testlog
04 - Spike - Goal Oriented Behaviour/gob_complex/.vs/gob_simple/v16/TestStore/0/testlog.manifest
